name: Crypto
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
   build:
     runs-on: Windows-latest
     steps:
       - uses: actions/checkout@v2
       - name: Use Node.js v16.x
         uses: actions/setup-node@v2
         with:
           node-version: "16.x"
       - run: npm install
       - run: npm run build   
        

      